/* VARIABLES */
:root{
  --primary: #00B271;
  --secondary: #F09F60;
  --third: #00C2FF;
  --fourth: #E5EEDE;
  --fifth: #2F4858;
  --nav-size: 60px;
  /* --speed: 500ms; */
}


/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/* font: inherit; */
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* BASE STYLES */
body {
  background: var(--fourth);
  overflow-x: hidden;
  font-family: Quicksand;
  /*color: #6B8758; */
}
.button {
  background: var(--secondary);
  border: none;
  color: var(--fourth);
  padding: 5px 10px;
  border-radius: 20px;
  text-transform: uppercase;
  display:inline-block;
  /* font-family: Quicksand; */ 
  /* color: #E5EEDE;
  text-decoration: none;
  font-size: 16px; */
}
.button:hover{
  /* color: var(--fourth); */
  background: var(--third);
}
input,textarea{
  background: rgba(255, 255, 255, 0.05);
  padding: 10px 16px;
  border-radius: 20px;
  border: 2px solid var(--primary);
  color: var(--fifth);
}
a{
  text-decoration: none;
  text-transform: uppercase;
  color: var(--fourth);
}
input::placeholder {
  font-family: Quicksand;
  color: var(--primary);
  text-transform: uppercase;
}
input:focus {
  background-color: #00c3ff2f;
}
:required{
  color: var(--primary);
}
.card-movie {
  margin: 7px;
  width: 50%;
  max-height: auto;
  /* text-align: center; */
  /* border: 5px solid var(--third); */
  /* border-radius: 20px; */
  background: var(--secondary);
  /* box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6); */
  padding: 6px;
}
.card-movie button{
  background: var(--primary);
}
.container-login button{
  background: var(--third);
  margin-bottom: 15px;
}
.container-login input{
  margin-bottom: 15px;
}
.star-rating button{
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding-bottom: 15px;
}
.on {
  color: var(--third)
}
.off {
  color: #ccc;
}
.dropdown-item:hover {
  background-color: #F09F60;
}
.dropdown-item:active {
  background-color: #F09F60;
}
.item-hide{
  display: none;
}
.pagination {
  display: flex;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}
.paginationItem {
  background: var(--secondary);
  border: none;
  color: var(--fourth);
  padding: 10px;
  border-radius: 20px;
  /* height: 70%; */
  width: 2rem;
  position: relative;
  margin: 0 4px;
}
.paginationItem:hover{
  background: var(--third);
}
.paginationItem span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.prev,
.next {
  background: var(--secondary);
  border: none;
  padding: 5px 10px;
  color: var(--fourth);
  /* box-shadow: 0 0 3px rgba(0, 0, 0, 0.4); */
  margin: 0 5px;
  cursor: pointer;
}
.paginationItem.active {
  /* border: 1px solid var(--third); */
  color: var(--fourth);
  background-color: var(--third);
}
.prev.disabled,
.next.disabled {
  /* pointer-events: none; */
  box-shadow: none;
}
.prev:hover,
.next:hover{
  background: var(--third);
}


/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

h1,h2,h3,h4 {
  /* color: */
  font-weight: normal;
}
/* p,a,li{
  color: 
} */
h1,h2{
  font-size: 1.6em;
  padding-bottom: 15px;
}
h3,h4{
  font-size: 1.4em;
  padding-bottom: 15px;
}
p{
  font-size: 1.1em;
  padding-bottom: 15px;
}
.p-uppercase{
  text-transform: uppercase;
  padding-bottom: 5px;
  color: var(--primary);
  font-weight: 600;
}


/* MOBILE STYLES */
.grid{
  /* display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  gap: 5 px; */
}
.video {
  max-width: 320px;
  max-height: 240px;
}
.card-movie img {
  width: 100%;
  max-height: 200px;
  /* border-radius: 15px; */
}
.nav {
  margin: 0;
  padding: 20px;
  background: var(--primary);
  color: var(--fourth);
  justify-content: center;
  display: flex;
  justify-content: flex-end;
}
.nav ul{
  /* list-style-type: none;
  overflow: hidden; */
  list-style: none;
  /* grid-column: 1/4;
  grid-row: 1; */
  display: flex;
  justify-content: flex-end;
  height: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}
/* .NavBar img{
  width: 10%;
} */
.nav-item{
  width: calc(var(--nav-size) * 0.8);
  display: flex;
  justify-content: space-around;
}
.icon-button{
  --button-size: calc(var(--nav-size) * 0.5);
  width: (--button-size);
  height: (--button-size);
  background-color: var(--secondary);
  border-radius: 590%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-button:hover{
  filter: brightness(1.2);
}
/* .Avatar{
  vertical-align: middle;
  float: right;
  width: 30px;
  height: 30px;
  border-radius: 50%;
} */
.container-main {
  margin: 15px 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
.container-detail {
  margin: 15px 30px;
  text-align:left;
}
.container-detail img {
  width: 45%;
  margin-left: 0px 0px 15px 15px;
  float: right;
}
/* NET NIJA: Mobile-First Responsive Build #8 */
/* .container img {
  max-width: 100%;
} */
.container-profile{
  margin: 15px 30px;
  text-align:left;
}
.container-comment{
  padding-bottom: 15px;
}
.container-comment button {
  background-color: var(--third);
}
.container-comment input,textarea {
  padding-bottom: 50px;
  margin-bottom: 5px;
  width: 85%;
  border: 2px solid var(--third);
}
.container-review{
  padding: 10px;
  margin-bottom: 5px;
  border: 2px solid var(--secondary);
  border-radius: 20px;
  background-color: var(--secondary);
}
.container-review p {
  font-size: 0.9em;
  font-style: italic;
}
.container-review h4 {
  font-size: 1.2em;
}
.container-nomatch {
  margin: 50px 15px;
  text-align: center;
}
.container-nomatch h3, video {
  margin-bottom: 30px;
}
.container-login {
  margin: 50px;
  padding: 20px;
  text-align: center;
  border: 3px solid var(--third);
  border-radius: 20px;
}
.dropdown{
  position:absolute;
  top: 48px;
  width: 150px;
  transform: translateX(-45%);
  background-color: var(--primary);
  border: var(--border);
  /* border-radius: var(--border-radius); */
  padding: 0.6rem;
  overflow:hidden;
}
.dropdown-item{
  height: 15px;
  display: flex;
  align-items: center;
  transition: background var(--speed);
  padding: 0.6rem;
}

/* SMALL TABLES STYLES */
@media screen and (min-width: 620px) {
  .grid{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 10px;
  }
  .video {
    max-width: 520px;
    max-height: 440px;
  }
  .card-movie img {
    max-height: 205px;
    /* border-radius: 15px; */
  }
  .container-main {
    margin: 30px 60px;
  }
    /* .container img {
    max-width: 100%;
  } */
  .container-detail {
    margin: 30px 80px;
  }
  .container-detail img {
    width: 25%;
    margin: 0 15px 0 0;
    float: left;
  }
  .container-profile{
    margin: 30px 80px;
  }
  .container-comment input,textarea {
    padding-bottom: 70px;
    margin-bottom: 5px;
    width: 90%;
  }
  .container-review{
    padding: 15px;
    margin-bottom: 10px;
  }
  .container-review p {
    font-size: 1em;
  }
  .container-review h4 {
    font-size: 1.2em;
  }
  .container-login {
    margin: 70px 130px 70px 130px;
    padding: 30px;
    border-radius: 40px;
  }
  .nav {
    padding: 25px;
  }
  .nav-item{
    width: calc(var(--nav-size) * 1.6);
  }
  .icon-button{
    width: 33%;
    height: 90%;
    padding: 6px;
  }
  .dropdown{
    top: 68px;
  }
}

/*LARGE TABLETS & LAPTOPS STYLES */
@media screen and (min-width: 960px) {
  body{
    font-size: 22px;
  }
  .grid{
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 20px;
  }
  .video {
    max-width: 720px;
    max-height: 640px;
  }
  .card-movie img {
    max-height: 260px;
    /* border-radius: 15px; */
  }
  .container-main {
    margin: 50px 100px;
  }
    /* .container img {
    max-width: 100%;
  } */
  .container-detail {
    margin: 50px 100px;
  }
  .container-detail img {
    width: 25%;
    margin: 0 15px 0 0;
    float: left;
  }
  .container-profile{
    margin: 50px 100px;
  }
  .container-comment input,textarea {
    padding-bottom: 100px;
    margin-bottom: 10px;
    width: 95%;
  }
  .container-review{
    padding: 15px;
    margin-bottom: 10px;
  }
  .container-review p {
    font-size: 1em;
  }
  .container-review h4 {
    font-size: 1.2em;
  }
  .container-login {
    margin: 70px 200px 70px 200px;
    padding: 30px;
    border-radius: 60px;
  }
  .nav {
    padding: 25px;
  }
  .nav-item{
    width: calc(var(--nav-size) * 1.6);
  }
  .icon-button{
    width: 33%;
    height: 90%;
    padding: 6px;
  }
  .dropdown{
    top: 75px;
    width: 210px;
    padding: 1rem;
    transform: translateX(-48%);
  }
  .dropdown-item{
    height: 20px;
  }
  .button {
    padding: 11px 15px;
    font-size: 20px;
  }
}

/*DESKTOP STYLES */
@media screen and (min-width: 1200px) {
  body{
    font-size: 18px;
  }
  .grid{
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    gap: 30px;
  }
  .video {
    max-width: 620px;
    max-height: 540px;
  }
  .card-movie img {
    max-height: 270px;
    /* border-radius: 15px; */
  }
  .container-main {
    margin: 50px 140px;
  }
    /* .container img {
    max-width: 100%;
  } */
  .container-detail {
    margin: 50px 140px;
  }
  .container-detail img {
    width: 17%;
    margin: 0 15px 0 0;
    float: left;
  }
  .container-profile{
    margin: 50px 140px;
  }
  .container-comment input,textarea {
    padding-bottom: 100px;
    margin-bottom: 10px;
    width: 95%;
  }
  .container-review{
    padding: 15px;
    margin-bottom: 10px;
  }
  .container-review p {
    font-size: 1em;
  }
  .container-review h4 {
    font-size: 1.2em;
  }
  .container-login {
    margin: 70px 400px 70px 400px;
    padding: 30px;
    border-radius: 80px;
  }
  .nav {
    padding: 25px;
  }
  .nav-item{
    width: calc(var(--nav-size) * 1.6);
  }
  .icon-button{
    width: 33%;
    height: 90%;
    padding: 6px;
  }
  .dropdown{
    top: 75px;
    width: 210px;
    padding: 1rem;
    transform: translateX(-48%);
  }
  .dropdown-item{
    height: 20px;
  }
  .button {
    padding: 8px 10px;
    font-size: 16px;
  }
}
